XHTML

<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.sinlios.miapp" version="1.0">
<name short="TituloCorto">
	Titulo de la App
</name>
<description>
	Mi aplicación PowerPoint
</description>
<author email="mail@dominio.com" href="http://misitioweb.com">
	Mi Empresa o mi nombre
</author>
<icon src="icono.png" />
<content src="index.html"/>
<access origin="*"/>
<gap:platform name="android"/>
<gap:platform name="ios"/>
<gap:platform name="winphone"/>
<preference name="orientation" value="default" />
<preference name="android-MediaPlaybackRequiresUserAction" value="false" />
<preference name="android-AllowInlineMediaPlayback" value="true" />
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/media" />
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.media" />
<gap:plugin name="org.apache.cordova.device-orientation" />
</widget>
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.sinlios.miapp" version="1.0">
<name short="TituloCorto">
 Dominican Fun
</name>
<description>
 App de Dominican Fun
</description>
<author email="contacto@dominicanfunrd.com" href="http://dominicanfunrd.com/">
 Dominican Fun
</author>
<icon src="icono.png" />
<content src="index.html"/>
<access origin="*"/>
<gap:platform name="android"/>
<gap:platform name="ios"/>
<gap:platform name="winphone"/>
<preference name="orientation" value="default" />
<preference name="android-MediaPlaybackRequiresUserAction" value="false" />
<preference name="android-AllowInlineMediaPlayback" value="true" />
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/media" />
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.media" />
<gap:plugin name="org.apache.cordova.device-orientation" />
</widget>